<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183984006291-k2it4hja49jj4iaqfmn9c981au1sjkgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183984006291-k2it4hja49jj4iaqfmn9c981au1sjkgj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183984006291-6aa1uhaf55o7sdl5hnbkt4tr003mgrda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOVBsTx_vcj65L7rffC0sN3m4K8m5vXII</string>
	<key>GCM_SENDER_ID</key>
	<string>183984006291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.petmojo.user</string>
	<key>PROJECT_ID</key>
	<string>tamely-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>tamely-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183984006291:ios:cee86b91941bae31761966</string>
	<key>DATABASE_URL</key>
	<string>https://tamely-2021-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>